/* font-family: 'IBM Plex Mono', monospace;
raisinBlack = 1D1E2C
blackCoral = 59656F
glossyGrape= AC9FBB
thistle = DDBDD5
lavenderBlush = F7EBEC
chinese violet = 775C84 */

body {
  background-color: #000033;
  color: #ffccff;
  font-family: 'IBM Plex Mono', monospace;
  font-size: large;
}
button {
  background-color:#cc33ff;
  color: #ffccff;
  font-weight: bolder;
  height: 50px;
  width: 10%;
  border-radius: 10px;
  text-decoration: none;
  border: 0;
  text-align:center;
  margin: 5px 4px;
 
}

button:hover {
  background-color: #ff00ff;
  cursor: pointer;
  border: none;
}

.introBlock {
  width: 80%;
  height: 300px;
  margin: 40px auto;
  border-radius: 20px;
  text-align: center;
  padding-top: 30px;
  border: solid 4px #cc33ff
}

.timerBlock {
  width: 40%;
  height: 30px;
  border-radius: 20px;
  margin: 40px auto;
  text-align: center;
  border: solid 4px #cc33ff;
  padding-top: 5px;

}

.questionBlock {
  width: 80%;
  height: 100px;
  margin: 40px auto;
  border-radius: 20px;
  border: solid 4px #cc33ff; 
  text-align: center;
  padding-top: 10px;
}
.answerBlock {
  width: 80%;
  height: 300px;
  margin: 20px auto;
  border-radius: 20px;
  border: solid 4px #cc33ff; 
  }

ul {
  list-style: none;
}

li {
  display: block;
} 

.hiScoreList {
  justify-content: center;
  padding-inline-start: 0;
}
.hiScoreList li {
  border: solid 2px #cc33ff;
  border-radius: 20px;
  text-align: center;
  margin: 5px 20px;
  display:list-item;
}
.answerContent {
  display: inline-block;
  margin-left: 20px;
}

.initialsBlock {
  width: 80%;
  height: 100px;
  margin: 40px auto;
  border-radius: 20px;
  border: solid 4px #cc33ff;
  text-align: center;
  padding-top: 40px;
}

.hiScoreBlock {
  width: 50%;
  height: 400px;
  margin: 20px auto;
  border-radius: 20px;
  border: solid 4px #cc33ff;
}

input {
  margin-top: 20px;
  background-color: #ff00ff;
  color: #000033;
  font-weight:bold;
  border-radius:20px;
  border: none;
  text-align:center;
}
